body {
    padding: 0;
    margin:0;
    background-color:#ff914d;
    font-size: 48px;
    color: whitesmoke;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 400;
}

p {
    letter-spacing: 0.03em;
    line-height: 1.55em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
    line-height: 1.4em;
    text-align:center;
    letter-spacing: 0.07em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    width: 1300px;
    margin: 0 auto;
    /* border: 1px solid rebeccapurple; */
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 58px;
    padding: 0;
    margin: 0;
    line-height: 1.4em;
    text-align:center;
    letter-spacing: 0.07em;
}

.header {
    padding-top: 72px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 600;
    /*-webkit-text-stroke: .5px black;*/
    -webkit-text-fill-color: whitesmoke;
}

.title {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: #5e17eb;
    font-size: 110px;
}

.adress {
    /* -webkit-text-stroke: 0.4px black; */
    -webkit-text-fill-color: whitesmoke;
    padding-bottom: 40px;
}

.offer {
    font-size: 48px;
    padding: 0;
    margin: 0;
    line-height: 1.4em;
    text-align:center;
    letter-spacing: 0.07em;
}

.media {
    padding-bottom: 0;
    margin: 0;
}

.video {
    width: 100%;
    background: url("../img/видео\ участок.mp4") center;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: inline-block;
}
 
.adress_2 {
    background-color: #5e17eb;
    display: flex;
    margin-top: 60px;
    margin:0;
    align-items: center;
}

.adress3 {
    width: 50%;
    background-color: #5e17eb;
    text-align: right;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 600;
    /* -webkit-text-stroke: .5px black; */
    -webkit-text-fill-color: whitesmoke;
}

.adress4 {
    width: 50%;
    background-color: #5e17eb;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    /* -webkit-text-stroke: .1px black; */
    -webkit-text-fill-color: whitesmoke;
}

.media {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
}

.end {
    margin: 0;
    padding-top: 40px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    color: whitesmoke;
}

.end {
    padding-top: 80px;
    padding-bottom: 60px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    color: #5e17eb;
}
.days, .phone_number, .sale {
    font-size: 70px;
}

.record {
    padding-top: 70px;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
}